#speaker-content {
  margin-top: 15px;
  width: 50vw;
}
#thumbnail {
  width: 100%;
  object-fit: cover;
  object-position: 0 35%;
  border-radius: 10px;
}
h2 {
  font-size: 32px;
}
h3 {
  font-size: 24px; 
  margin-left: 20px;
}
i {
  margin-left: 30px;
  font-size: 20px;
  Color: rgb(200, 200, 200);
  display: block;
  line-height: 150%;
}
.image-text-section {
  display: flex;
  justify-content: space-between;
  gap: 20px;
  margin-bottom: 20px;
}
.divider {
  margin: 35px 0; 
  height: 8px;
  border-radius: 4px;
  background-image: linear-gradient(270deg, rgb(3, 110, 164), rgb(195, 45, 211));
}
.image-text-section div {
  width: calc(50% - 20px); 
}
.image {
  width: calc(50% - 20px);
  height: 45%;
  object-fit: cover;
  border-radius: 10px;
}
@media (max-width: 950px) {
  .image-text-section {
    flex-direction: column;
    justify-content: center;
  }
  .image-text-section div {
    width: calc(100% - 20px); 
  }
  .image {
    width: calc(100% - 20px);
  }
}
a {
  color: rgb(47, 131, 233);
}
a:hover {
  color: rgb(106, 167, 242); 
}
p {
  font-size: 20px;
}
li {
  font-size: 20px;
}
.collage {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  margin-bottom: 30px;
}
.collage-row {
  display: flex;
  justify-content: center;
  gap: 10px;
}
.collage-image {
  display: inline;
  border-radius: 10px;
  object-fit: cover;
}