.projects-grid {
  display: grid;
  grid-template-columns: calc(50% - 12px) calc(50% - 12px);
  gap: 24px; 
}
@media (max-width: 950px) {
  .projects-grid {
    grid-template-columns: 100%;
  }
}
.card { 
  border-radius: 14px;
  background-image: linear-gradient(300deg, rgb(3, 110, 164), rgb(195, 45, 211));
  padding: 4px;
  text-decoration: none;
}
.card div {
  background-color: rgb(30, 30, 30);
  border-radius: 10px;
  height: 100%;
}
.card h3 {
  padding: 12px;
  margin: 0;
}
.card img {
  width: calc(100% - 20px);
  margin-left: 10px;
  object-fit: cover;
  border-radius: 5px;
}
.card p {
  padding-left: 12px;
} 
.card ul {
  margin: 0;
  padding-bottom: 15px;
}
.card span:hover {
  text-decoration: underline;
  color: rgb(88, 192, 226);
}