#home-icon {
  width: 50px;
}
#me-icon {
  height: 70px;
  width: 70px;
  object-fit: cover;
  border-radius: 50%; 
}
#top-bar {
  margin-top: 15px;
  display: flex;
  justify-content: left;
  align-items: center;
  gap: 60px;
}
h1 {
  margin: 0;
}
.nav-bar{
  margin: 0;
  margin-right: 15px;
  padding: 0; 
  padding-right: 15px;
  border-right: 3px solid rgb(220, 168, 255);
  display: inline-block;
  position: sticky;
  top: 100px;
  list-style-type: none;
}
.nav-item-title  {
  display: flex;
  justify-content: space-between;
  align-items: end;
  gap: 30px;
}
.nav-bar li {
  margin-bottom: 10px;
}
.nav-item-title div {
  font-size: 20px;
  color: rgb(220, 168, 255);
}
.nav-item-title:hover div,
.nav-item-title:hover {
  color: rgb(106, 167, 242);
  cursor: pointer;
}
.nav-bar img {
  width: 40px;
}
.sub-items {
  border-left: 1.5px solid rgb(220, 168, 255);
  padding-left: 7px;
  padding-top: 5px;
  margin-left: 7px;
  display: none;
  flex-direction: column;
  gap: 8px;
}
.sub-items a {
  text-decoration: none;
  color: rgb(220, 168, 255);
  font-size: 18px;
}
.sub-items a:hover {
  color: rgb(106, 167, 242);
}
.nav-bar li:hover .sub-items{
  display: flex;
}
main {
  vertical-align: top;
  width: 800px;
  display: inline-block;
}
main p {
  font-size: 20px;
}
.projects-grid {
  display: grid;
  grid-template-columns: 400px 400px;
  gap: 24px; 
}
.card { 
  border-radius: 14px;
  background-image: linear-gradient(300deg, rgb(3, 110, 164), rgb(195, 45, 211));
  padding: 4px;
  text-decoration: none;
}
.card div {
  background-color: rgb(30, 30, 30);
  border-radius: 10px;
  height: 100%;
}
.card h3 {
  padding: 12px 0px 12px 12px;
  margin: 0;
}
.card img {
  width: 350px;
  height: 300px;
  object-fit: cover;
  position: relative;
  left: 5%; 
  border-radius: 5px;
  
}
.card p {
  padding-left: 12px;
} 
.card ul {
  margin: 0;
  padding-bottom: 12px;
}
.card span:hover {
  text-decoration: underline;
  color: rgb(88, 192, 226);
}