* {
  font-family: Arial, Helvetica, sans-serif;
  color: white;
}
body {
  margin: 0;
  display: flex;
  justify-content: center;
  background-color: rgb(20, 20, 20);
}
#menu-icon {
  width: 50px;
}
#home-icon {
  width: 50px;
}
#me-icon {
  height: 70px;
  width: 70px;
  object-fit: cover;
  border-radius: 50%; 
}
#top-bar {
  margin-top: 15px;
  margin-bottom: 15px;
  display: flex;
  justify-content: left;
  align-items: center;
  gap: 60px;
}
h1 {
  margin: 0;
}
#nav-bar{
  padding: 0; 
  padding-right: 20px;
  margin: 0;
  margin-right: 20px;
  margin-top: 100px;
  position: sticky;
  top: 100px;
  border-right: 3px solid rgb(220, 168, 255);
  display: inline-block;
  list-style-type: none;
  user-select: none;
}
.nav-item-title  {
  display: flex;
  justify-content: space-between;
  align-items: end;
  gap: 30px;
}
#nav-bar li {
  margin-bottom: 10px;
}
.dropdown-title {
  display: flex;
  align-items: center;
}
.dropdown-title img {
  width: 30px;
  height: 30px;
  transition: 0.1s;
}
.dropdown-title div {
  font-size: 20px;
  color: rgb(220, 168, 255);
}
.nav-item-title:hover div,
.nav-item-title:hover {
  color: rgb(106, 167, 242);
  cursor: pointer;
}
#nav-bar img {
  width: 40px;
}
.sub-items {
  border-left: 1.5px solid rgb(220, 168, 255);
  padding-left: 7px;
  padding-top: 5px;
  margin-left: 20px;
  display: none;
  flex-direction: column;
  gap: 8px;
}
.sub-items a {
  text-decoration: none;
  color: rgb(220, 168, 255);
  font-size: 18px;
}
.sub-items a:hover {
  color: rgb(106, 167, 242);
}

main {
  margin-right: 380px;
  margin-bottom: 150px;
  vertical-align: top;
  width: 45vw;
  display: inline-block;
}
main p {
  font-size: 20px;
}