* {
  font-family: Arial, Helvetica, sans-serif;
  color: white;
}
body {
  margin: 0;
  display: flex;
  justify-content: center;
  background-color: rgb(20, 20, 20);
}
#home-icon {
  width: 50px;
  user-select: none;
}
#me-icon {
  height: 70px;
  width: 70px;
  object-fit: cover;
  border-radius: 50%; 
}
img {
  user-select: none;
}
#top-bar {
  margin-top: 15px;
  margin-bottom: 15px;
  display: inline-flex;
  position: sticky;
  justify-content: center;
  align-items: center;
  gap: 40px;
}
h1 {
  vertical-align: top;
  margin-left: 15px;
  display: inline-block;
}
#nav-bar,
#nav-menu {
  padding: 0; 
  margin: 0;
  display: inline-block;
  list-style-type: none;
  user-select: none;
}
#nav-bar {
  position: sticky;
  overflow: auto;
  top: 100px;
  width: 390px;
  max-height: calc(100vh - 100px);
  padding-right: 20px;
  margin-right: 20px;
  margin-top: 100px;
  border-right: 3px solid rgb(220, 168, 255);
}
.nav-item-title  {
  display: flex;
  justify-content: space-between;
  align-items: end;
  gap: 30px;
}
#nav-bar li,
#nav-menu li {
  margin-bottom: 10px;
}
.dropdown-title {
  display: flex;
  align-items: center;
}
.dropdown {
  border: none;
}
.dropdown-title img {
  width: 30px;
  height: 30px;
  transition: 0.1s;
}
.dropdown-title div {
  font-size: 20px;
  color: rgb(220, 168, 255);
}
.nav-item-title:hover div,
.dropdown-title:hover div {
  color: rgb(106, 167, 242);
  cursor: pointer;
}
#nav-bar img,
#nav-menu img {
  width: 40px;
}
.sub-items {
  border-left: 1.5px solid rgb(220, 168, 255);
  padding-left: 7px;
  padding-top: 5px;
  margin-left: 20px;
  display: none;
  flex-direction: column;
  gap: 8px;
}
.sub-items a {
  text-decoration: none;
  color: rgb(220, 168, 255);
  font-size: 20px;
}
.sub-items a:hover {
  color: rgb(106, 167, 242);
}
main {
  margin-right: 380px;
  margin-bottom: 150px;
  vertical-align: top;
  width: 45vw;
  display: inline-block;
}
@media (max-width: 1550px) {
  #nav-bar {
    width: 270px;
  }
  main {
    margin-right: 0;
  }
}
@media (max-width: 1450px) {
  main {
    width: calc(100vw - 350px);
  }
}
main p {
  font-size: 20px;
}